.circular-image {
  border-radius: 50%;
  width: 100%; /* Ensure the image takes up the entire space within the circle */
  height: auto; /* Maintain aspect ratio */
}
body {
  overflow-x: hidden;
  width: auto;
  background-color: aqua;
}
h1 {
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: aquamarine;
}
